

table {
    
    margin: 2rem auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 780px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button{
      font-size: 15px;
  }


  div .header,h1{
    width: 780px;
    margin: 0 auto;
    
    text-align: center;
  }



 
